.assets {
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
}

.assets__widgets {
  display: flex;
  flex-direction: column;
}

.assets__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (max-width: 1279px) {
  .assets {
    flex-direction: column;
  }
}

@media screen and (max-width: 639px) {
  .assets {
    padding-bottom: 24px;
  }
}
