.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #e5e7eb;
}

.main-footer__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-footer__about {
  width: 440px;
}

.main-footer__logo > a {
  display: flex;
  flex-direction: row;
}

.main-footer__logo > a > svg:first-child {
  position: relative;
  top: 0px;
  margin-right: 6px;
}

.main-footer__logo > a > svg:nth-child(2) {
  position: relative;
  top: 5px;
}

.main-footer__info {
  color: #9ca3af;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 16px;
}

@media screen and (max-width: 1279px) {
  .main-footer {
    padding: 24px 0 40px;
  }

  .main-footer__about {
    width: 27.5%;
  }
}

@media screen and (max-width: 639px) {
  .main-footer {
    flex-direction: column;
  }
  .main-footer__about {
    order: 2;
    width: 100%;
  }
}
