.header-logo {
  width: 184px;
}

.header-logo > a {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo-label {
  padding: 4px 8px;
  color: #2563eb;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #eff6ff;
  border-radius: 6px;
}
