.header-menu-item {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 18px;
}

.header-menu-item--active {
  font-weight: 700;
  color: #2563eb;
}

@media screen and (max-width: 1279px) {
  .header-menu-item {
    margin-left: 24px;
    margin-bottom: 24px;
  }
}
